<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.scorpion.unithalluwa">

    <application
        android:allowBackup="true"
        android:icon="@drawable/unithalluwalogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/unithalluwalogo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Main.MainUI"
            android:label="@string/title_activity_main_ui"
            android:parentActivityName=".User_UI.profile"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.scorpion.unithalluwa.User_UI.profile" />
        </activity>
        <activity android:name=".User_UI.profile" ></activity>
        <activity android:name=".User_UI.Register" ></activity>
        <activity android:name=".User_UI.Main" ></activity>
        <activity
            android:name=".ui.login.LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>